* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
  
body {
    background-image: url("./bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.container {
    width: 80vw;
    height: 90vh;
    background-color: rgba(17, 25, 40, 0.75);
    backdrop-filter: blur(6px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
}

/* Global Scrollbar Styles */
/* For Chrome, Safari, and Edge */
* {
    scrollbar-width: thin; /* Firefox: makes scrollbar thin */
    scrollbar-color: #111 transparent; /* Firefox: thumb and track color */
}

*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height for horizontal scrollbars */
}

*::-webkit-scrollbar-thumb {
    background-color: #111; /* Scrollbar thumb color */
    border-radius: 4px; /* Rounded edges for the thumb */
}

*::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
}
